[submodule "external/Nimble"]
	path = external/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "external/Quick"]
	path = external/Quick
	url = git@github.com:Quick/Quick.git
[submodule "external/IVGRouter"]
	path = external/IVGRouter
	url = git@github.com:ivygulch/IVGRouter.git
